.profile {
    background-color: white;
    width: 400px;
}

.description {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
}
.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}