.item {
    width: 100%;
    display: flex;
    gap: 15px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
}

.statusOnline {
    background-color: green;
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 15px;
}

.statusOffline {
    margin-left: 15px;
    background-color: red;
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.avatar {
    display: block;
    border-radius: 20%;
}

.name {
    font-size: 25px;
    color: #000000;
}